{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reportes</h1><br>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Buscar" />
    {{ form_end(form) }}
{% endblock %}